*{
	margin: 10;
	padding: 10;
	font-family: sans-serif;

}

body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(.jpg);
	height:101vh;
	background-size: cover;
	background-position: cover;

}
.main ul{
	float: right;
	list-style-type: none;
	margin-top: 5px;
}

.main ul li{
	display: inline-block;
	margin-right: 40px;

}
.main ul li a{
	text-decoration: none;
	color: rgba(255,255,255);
	padding: 5px, 0.2px;
	transition: 0.5s ease;
}

.main ul li a:hover{
	color: #ffffff;
	opacity: 0.5;
	border: 1px solid #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;

}
.main ul li a.active{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #ffffff;
	border-radius: 1px;
	color: #fff;
}
.title{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{

	color: #fff;
	font-size: 55px;
	font-weight: 300;
	letter-spacing: -1px;

}
.title p{
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}

.row:after{
    content: "";
    display: block;
    clear: both;
}
.content{
    float: center;
    width: 66.66%;
    padding: 30px;
}
.content{
	max-width: 350px;
	margin: auto;
	background: rgba(0,0,0,0.9);
	box-sizing: border-box;
	padding: 40px;
	color: #fff;
	margin-top:0px;
	border-radius: 30px;
}
.content1{
    float: center;
    width: 66.66%;
    padding: 30px;
}
.content1{
	max-width: 350px;
	margin: auto;
	background: rgba(0,0,0,0.9);
	box-sizing: border-box;
	padding: 40px;
	color: #fff;
	margin-top:0px;
	border-radius: 30px;
}
.type{
    float: center;
    width: 66.66%;
    padding: 30px;

}
.type{
	max-width: 350px;
	margin: auto;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
	padding: 40px;
	color: #fff;
	margin-top:0px;
	border-radius: 30px;


}
input[type=text], input[type=email], input[type=password]{
	width: 100%;
	padding: 1px 1px;
	margin: 1px 0;
	border: 0.5px solid #424242;
	box-sizing: border-box;
	border-radius: 2px;
    font-size: 17px;

}
h2{
	text-align: center;
}
input[type=submit]{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	margin-top: 5px;
	outline: none;
	border: none;
	background: #60adde;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;
}
input[type=submit]:hover{
	background: #003366;
	opacity: 0.7;

}
textarea{
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #424242;
    border-radius: 4px;
	resize: none; 
    font-size: 20px;
	margin: 10px 0;
    font-family: sans-serif;
}


